config bitcoind 'default'
    option rpcuser               'opennodesorguser'
    option rpcpassword           'opennodesorgpassword'
    option rpcthreads            '32'
    option rpcallowip            '*'

    option datadir               '/mnt/SDCard/bitcoin'
    option txindex               'true'

    option limitdownloadblocks   '2016'
    option maxconnections        '1024'
    option outboundconnections   '512'
