package 'cgminer'

config 'cgminer' 'default'
	option	'pool1url'	'stratum.ozco.in:80'
	option	'pool1user'	'avalon.default'
	option	'pool1pw'	'1234'
	option	'pool2url'	'au.ozco.in:80'
	option	'pool2user'	'avalon.default'
	option	'pool2pw'	'1234'
	option	'pool3url'	'eustratum.ozco.in:80'
	option	'pool3user'	'avalon.default'
	option	'pool3pw'	'1234'
