
config cgminer 'default'
	option pool1url		'stratum+tcp://hashmine.io:3333'
	option pool1user	'canaan.default'
	option pool1pw		'1234'
	option pool2url		'stratum+tcp://au.ozco.in:3333'
	option pool2user	'canaan.default'
	option pool2pw		'1234'
	option pool3url		'stratum+tcp://us.ozco.in:3333'
	option pool3user	'canaan.default'
	option pool3pw		'1234'
	option pool_balance	'  '
	option chip_frequency	'200'
	option chip_voltage	'7125'
	option fan		'60-100'
	option api_allow	'W:127.0.0.1'
	option more_options	'--real-quiet --lowmem'
	option ntp_enable	'default'

