
config cgminer 'default'
	option pool1url		'stratum+tcp://au.ozco.in:80'
	option pool1user	'canaan.default'
	option pool1pw		'1234'
	option pool2url		'stratum+tcp://stratum.ozco.in:80'
	option pool2user	'canaan.default'
	option pool2pw		'1234'
	option pool3url		'stratum+tcp://eustratum.ozco.in:80'
	option pool3user	'canaan.default'
	option pool3pw		'1234'
	option pool_balance	'  '
	option chip_frequency	'450'
	option chip_voltage	'6625'
	option fan		'90'
	option api_allow	'W:127.0.0.1'
	option more_options	'--real-quiet'
	option ntp_enable	'default'

