package 'cgminer'

config 'cgminer' 'default'
	option	'pool1url'	'stratum.ozco.in:80'
	option	'pool1user'	'12300'
	option	'pool1pw'	'xRbYjN'
	option	'pool2url'	'au.ozco.in:80'
	option	'pool2user'	'12322'
	option	'pool2pw'	'CTQTdh'
	option	'pool3url'	'eustratum.ozco.in:80'
	option	'pool3user'	'18544'
	option	'pool3pw'	'UksgWm'
