package 'cgminer'

config 'cgminer' 'default'
	option	'pool1url'	'stratum+tcp://stratum.ozco.in:80'
	option	'pool1user'	'avalon.default'
	option	'pool1pw'	'1234'
	option	'pool2url'	'stratum+tcp://au.ozco.in:80'
	option	'pool2user'	'avalon.default'
	option	'pool2pw'	'1234'
	option	'pool3url'	'stratum+tcp://eustratum.ozco.in:80'
	option	'pool3user'	'avalon.default'
	option	'pool3pw'	'1234'
	option	'chip_frequency'	'1500'
	option	'api_allow'	'W:127.0.0.1'
	option	'pool_balance'	'--balance'
	option	'more_options'	'--quiet'
