
config cgminer 'default'
	option pool1url		'stratum+tcp://hashmine.io:3333'
	option pool1user	'canaan.1'
	option pool1pw		'1234'
	option pool2url		'stratum+tcp://hashmine.io:3333'
	option pool2user	'canaan.2'
	option pool2pw		'1234'
	option pool3url		'stratum+tcp://hashmine.io:3333'
	option pool3user	'canaan.3'
	option pool3pw		'1234'
	option pool_balance	'  '
	option chip_frequency	'445:385:370'
	option chip_voltage	'8000'
	option fan		'60-100'
	option api_allow	'W:127.0.0.1'
	option more_options	'--real-quiet'
	option ntp_enable	'default'

